<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% block head %}
      <title>{% block title %} Jogo da Velha Genético {% endblock %}</title>
  {% endblock%}
  <script type="text/jscript">
    $(document).ready(function(){
      $('select').formSelect();
      $('.datepicker').datepicker();
      $('.sidenav').sidenav();
    });
  </script>
</head>
<body>
  <nav  class="left">
    <div class="nav-wrapper blue darken-3">
      <a href="#!" class="brand-logo center">Jogo da Velha Genético</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#">Home</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Home</a></li>
  </ul>
  <div class="row">
    <div class="grid-example col s12 center">
      <div id="content" class="container">
         <br>
         <br>
         {% block content %} {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
